@model Taijitan.Models.ViewModels.SessionViewModel
@{
    ViewData["Title"] = "Voeg een ander lid toe";
}

<h2>@ViewData["Title"]</h2>

<br />

<form method="get">
    <div class="form-inline">
        <div class="form-group">
            <input name="searchTerm" class="form-control mb-2 mr-sm-2" placeholder="Zoek op familienaam">
            <button asp-controller="Session" asp-action="AddOtherMember" asp-route-id="@Model.SessionId" asp-route-searchTerm=searchTerm class="btn btn-taijitan">Zoek</button>
            <button asp-controller="Session" asp-action="AddOtherMember" asp-route-searchTerm="" asp-route-id="@Model.SessionId" class="btn btn-taijitan">reset</button>
        </div>
    </div>
</form>
<br />
@{
    if (ViewData["otherMembers"] != null)
    {
        <h3>Leden niet ingeschreven in formule: </h3>
        <form method="post">
            <div class="list-group">
                @{
                    foreach (var item in (List<User>)ViewData["otherMembers"])
                    {
                        <a asp-controller="Session" asp-action="AddToPresent" asp-route-id="@item.UserId" asp-route-sessionId="@Model.SessionId" class="list-group-item list-group-item-action">@item.FirstName @item.Name</a>
                    }
                }
            </div>
        </form>
    }
}

