@model IEnumerable<User>
@{
    ViewData["Title"] = "Overzicht Leden";
    List<NonMember> nonMembers = (List<NonMember>)ViewData["NonMembers"];
}

<h2>Overzicht van alle aanwezige leden</h2>


<table class="table" id="summaryTable" style="width: 100%;">
    <thead>
        <tr>
            <th>Familienaam</th>
            <th>Voornaam</th>
            <th>Geboortedatum</th>
            <th>Adres</th>
            <th>Telefoonnummer</th>
            <th>E-mailadres</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.FirstName</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.City.Postalcode @item.City.Name - @item.Street @item.HouseNumber</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
            </tr>
        }
        @{
            if (nonMembers.Count() != 0)
            {   
                @foreach (var item in nonMembers)
                {
                    <tr>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td style="text-align:center">-</td>
                        <td style="text-align:center">-</td>
                        <td style="text-align:center">-</td>
                        <td>@item.Email</td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
