@model IEnumerable<User>
@{
    ViewData["Title"] = "Gebruikers";
}

<h2>@ViewData["Title"]</h2>

<br />
<form>
    <div class="form-inline">
        <div class="form-group">
            <input name="searchTerm" class="form-control mb-2 mr-sm-2" placeholder="Zoek op familienaam">
            <input type="submit" value="Zoek" class="btn btn-primary" />
            <button asp-controller="User" asp-action="Summary" asp-route-searchTerm="" class="btn btn-taijitan">reset</button>
        </div>
    </div>
</form>

<br /><br />



@{
    if (Model.Any())
    {
        <table class="table">


            <tr>
                <th>Familienaam</th>
                <th>Voornaam</th>
                <th>Geboortedatum</th>
                <th>Adres</th>
                <th>Telefoonnummer</th>
                <th>E-mailadres</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.FirstName</td>
                    <td>@item.DateOfBirth.ToShortDateString()</td>
                    <td>@item.City.Postalcode @item.City.Name - @item.Street @item.HouseNumber</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.UserId" asp-route-isFromSummary="1"><i title="Gegevens van gebruiker aanpassen" class="fas fa-edit fa-lg ChangeAndDeleteColor"></i></a>
                        
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.UserId"><i title="Gebruiker verwijderen" class="fas fa-trash-alt fa-lg ChangeAndDeleteColor"></i></a>
                    </td>
                </tr>


            }
        </table>

    }

    else
    {
        <p>
            Geen leden gevonden met de zoekterm, probeer opnieuw
        </p>
    }
}

