@model Taijitan.Models.ViewModels.CourseMaterialViewModel
@{ 
    ViewData["Title"] = "Module Raadplegen";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#uitleg">Uitleg</a></li>
    <li><a data-toggle="tab" href="#fotos">Foto's</a></li>
    <li><a data-toggle="tab" href="#video">Video</a></li>
</ul>
<div class="tab-content">
    <h3>@Model.SelectedCourseMaterial.Title</h3>
    <div id="uitleg" class="tab-pane fade in active">
        <h3>Uitleg les</h3>
        <p>@Model.SelectedCourseMaterial.FullDescription</p>
    </div>
    <div id="fotos" class="tab-pane fade">
        <h3>Foto's</h3>
        @{
            foreach (var img in Model.SelectedCourseMaterial.Images)
            {
                string fotolink = String.Format("{0}.jpg", img.Name);
                <div class="thumbnail col-lg-3">
                    <img src="~/images/@fotolink" alt="@img.Name">
                    <div class="caption">
                        @img.Description
                    </div>
                </div>
            }
        }
    </div>
    <div id="video" class="tab-pane fade">
        <h3>Video</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="@Model.SelectedCourseMaterial.YoutubeURL" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="materialComment">
    <form method="post">
        <div class="col-lg-12">
            <label>Commentaar</label>
        </div>
        <div class="col-lg-10" style="margin-bottom: 0.5em;">
            <textarea name="comment"style="resize:none" class="form-control" required></textarea>
        </div>

        <div class="col-lg-2">
            <button type="submit" asp-action="AddComment" class="btn btn-taijitan">Verzend</button>
        </div>
    </form>
</div>

