@model Taijitan.Models.ViewModels.CourseMaterialViewModel
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#uitleg">Uitleg</a></li>
    <li><a data-toggle="tab" href="#fotos">Foto's</a></li>
    <li><a data-toggle="tab" href="#video">Video</a></li>
</ul>

<div class="tab-content">
    <div id="uitleg" class="tab-pane fade in active">
        <h3>Uitleg les</h3>
        <p>@Model.SelectedCourseMaterial.FullDescription</p>
    </div>
    <div id="fotos" class="tab-pane fade">
        <h3>Foto's</h3>
        <div id="carousel-example-generic" class="carousel slide sliderimg" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @{
                    <div class="item active">
                        <img class="sliderimg" src="~/images/@String.Format("{0}.jpg",Model.SelectedCourseMaterial.Images.First().Name)" alt="@Model.SelectedCourseMaterial.Images.First().Name">
                        <div class="carousel-caption">
                            @Model.SelectedCourseMaterial.Images.First().Description
                        </div>
                    </div>
                    foreach (var img in Model.SelectedCourseMaterial.Images.Skip(1))
                    {
                        string fotolink = String.Format("{0}.jpg", img.Name);
                        <div class="item">
                            <img class="sliderimg" src="~/images/@fotolink" alt="@img.Name">
                            <div class="carousel-caption">
                                @img.Description
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="video" class="tab-pane fade">
        <h3>Video</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="@Model.SelectedCourseMaterial.YoutubeURL" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="materialComment">
    <form method="post">
        <div class="col-lg-12">
            <label>Commentaar</label>
        </div>
        <div class="col-lg-10">
            <textarea style="resize:none" class="form-control"></textarea>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-taijitan">Verzend</button>
        </div>
    </form>
</div>

