@model Taijitan.Models.ViewModels.CourseMaterialViewModel

@{ 
    ViewData["Title"] = "Selecteer Module";
}

<div class="col-lg-12">
    @{
        <h2>Materiaal van @Model.SelectedRank</h2>

        foreach (var mat in Model.CourseMaterials)
        {
            string fotolink = String.Format("{0}.jpg", mat.Images.First().Name);
            <div class="col-lg-4 thumbnail lesitem">
                <img class="img-thumbnail materialimg" src="~/images/@fotolink" />
                <div class="card-body text-center">
                    <h5 >@mat.Title</h5>
                    <a asp-controller="CourseMaterial" asp-action="SelectCourse" asp-route-sessionId="@Model.Session.SessionId" asp-route-rank="@Model.SelectedRank" asp-route-selectedUserId="@Model.SelectedMember.UserId"  asp-route-matId="@mat.MaterialId" class="btn btn-primary">Bekijk</a>
                </div>
            </div>
        }
    }
</div>