@model Taijitan.Models.ViewModels.CourseMaterialViewModel
@using Taijitan.Helpers

@{
    ViewData["Title"] = "Training";
}

<h2>Training</h2>


<div class="col-lg-12 materialScreen">
    <div class="col-sm-2">
            <div class="list-group">
                @{
                    foreach (var us in Model.Session.MembersPresent.OrderBy(m => m.FirstName).ThenBy(m => m.Name).ToList())
                    {
                        if (us == Model.SelectedMember)
                        {
                            <a asp-controller="CourseMaterial" asp-action="SelectMember" asp-route-sessionId="@Model.Session.SessionId" asp-route-id="@us.UserId" class="list-group-item list-group-item-action list-group-item-success">@us.FirstName @us.Name</a>

                        }
                        else
                        {
                            <a asp-controller="CourseMaterial" asp-action="SelectMember" asp-route-sessionId="@Model.Session.SessionId" asp-route-id="@us.UserId" class="list-group-item list-group-item-action">@us.FirstName @us.Name</a>
                        }
                    }
                }
            </div>
    </div>

    <div class="col-sm-2">
        <div class="list-group">
            @{

                Member member = Model.SelectedMember;
                if (member != null)
                {
                    foreach (Rank rank in Model.AllRanks)
                    {

                        if ((int)member.Rank >= (int)rank)
                        {
                            if (rank == Model.SelectedRank)
                            {
                                <a asp-action="SelectRank" asp-controller="CourseMaterial" asp-route-id="@Model.Session.SessionId" asp-route-rank=@rank asp-route-selectedUserId="@Model.SelectedMember.UserId" class="list-group-item list-group-item-action list-group-item-success">@rank  - @rank.GetDisplayName() - @rank.GetDescription()</a>
                            }
                            else
                            {
                                <a asp-action="SelectRank" asp-controller="CourseMaterial" asp-route-id="@Model.Session.SessionId" asp-route-rank=@rank asp-route-selectedUserId="@Model.SelectedMember.UserId" class="list-group-item list-group-item-action">@rank  - @rank.GetDisplayName() - @rank.GetDescription()</a>
                            }


                        }

                    }
                }
            }
        </div>
    </div>

    <div class="col-sm-8">
        @{
            if (ViewData["partialView"].Equals("lessons"))
            {
                <partial name="~/Views/CourseMaterial/_MaterialOfRank.cshtml" view-data="ViewData" model="@Model" />
            }
            else if (ViewData["partialView"].Equals("course"))
            {
                <partial name="~/Views/CourseMaterial/_ConsultMaterial.cshtml" view-data="ViewData" model="@Model" />
            }
            else
            {
                <partial name="~/Views/CourseMaterial/_DefaultPartial.cshtml" />
            }
        }
    </div>
</div>