@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="center-block text-center" style="margin: 10% auto">
    <div class="text-center">
        <img src="~/images/logo.png" alt="Taijitan logo" style="width:30%" />
    </div>
    <div class="text-center">
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1>Welkom</h1>
            <p>Op de online tool van Taijitan</p>
            <sub><a asp-area="Identity" asp-page="/Account/Login">Login</a> om je gegevens aan te passen</sub>
        }
        else if (TempData["Role"].Equals("Member"))
        {
            <h1>Welkom @TempData["FullName"]</h1>
            <p>Op de online tool van Taijitan</p>
            <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn">Wijzig gegevens</a>
        }
        else if (TempData["Role"].Equals("Teacher"))
        {
            <h1>Welkom Leerkracht</h1>
            <p>Op de online tool van Taijitan</p>
            <div style="display:flex; justify-content:center;">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens</a>
                <a asp-controller="Session" asp-action="Create" class="btn-taijitan btn" style="margin-right:1em;">Start Sessie</a>
                @{
                    Session currentSession = (Session)ViewData["Session"];
                    if (currentSession != null)
                    {
                        if (currentSession.Date.Date.Equals(DateTime.Today))
                        {
                            if (currentSession.SessionStarted)
                            {
                                <a asp-controller="CourseMaterial" asp-action="Confirm" asp-route-id="@currentSession.SessionId" class="btn-taijitan btn">Hervat Sessie</a>
                            }
                            else
                            {
                                <a asp-controller="Session" asp-action="Register" asp-route-id="@currentSession.SessionId" class="btn-taijitan btn">Hervat Sessie</a>
                            }
                        }
                    }
                }
            </div>
        }
        else if (TempData["Role"].Equals("Admin"))
        {
            <h1>Welkom Administrator</h1>
            <p>Op de online tool van Taijitan</p>
            <div style="display:flex; justify-content:center;">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens</a>
                <a asp-controller="User" asp-action="Summary" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens leden</a>
                <a asp-controller="Session" asp-action="GetSessions" class="btn-taijitan btn" style="margin-right: 1em;">Overzicht aanwezigheden</a>
                <a asp-controller="CourseMaterial" asp-action="ViewComments" class="btn-taijitan btn">Overzicht Commentaren</a>

            </div>
        }

    </div>
</div>
@section scripts{
    <script src="~/js/site.min.js"></script>
}
