@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";

    string userNameFirstLetterUpper = "";
    if (UserManager.GetUserName(User) != null)
    {
        var email = UserManager.GetUserName(User);
        var userName = email.Substring(0, email.IndexOf("."));
        userNameFirstLetterUpper = char.ToUpper(userName[0]) + userName.Substring(1);
    }
}

<div class="center-block text-center" style="margin: 20% auto">
    <div class="text-center">
        <img src="~/images/logo.png" alt="Taijitan logo" style="width:30%" />
    </div>
    <div class="text-center">
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1>Welkom</h1>
            <p>Op de online tool van Taijitan</p>
            <sub><a asp-area="Identity" asp-page="/Account/Login">Login</a> om je gegevens aan te passen</sub>
        }
        else if (TempData["Role"].Equals("Member"))
        {
            <h1>Welkom @userNameFirstLetterUpper</h1>
            <p>Op de online tool van Taijitan</p>
            <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn">Wijzig gegevens</a>
        }
        else if (TempData["Role"].Equals("Teacher"))
        {
            <h1>Welkom Leerkracht</h1>
            <p>Op de online tool van Taijitan</p>
            <div style="display:flex; justify-content:center;">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens</a>
                <a asp-controller="Session" asp-action="Create" class="btn-taijitan btn" style="margin-right:1em;">Start Sessie</a>
                @{
                    Session currentSession = (Session)ViewData["Session"];
                    if (currentSession != null)
                    {
                        if (currentSession.Date.Date.Equals(DateTime.Today))
                        {
                            if (currentSession.SessionStarted)
                            {
                                <a asp-controller="CourseMaterial" asp-action="Confirm" asp-route-id="@currentSession.SessionId" class="btn-taijitan btn">Hervat Sessie</a>
                            }
                            else
                            {
                                <a asp-controller="Session" asp-action="Register" asp-route-id="@currentSession.SessionId" class="btn-taijitan btn">Hervat Sessie</a>
                            }
                        }
                    }
                }
            </div>
        }
        else if (TempData["Role"].Equals("Admin"))
        {
            <h1>Welkom Administrator</h1>
            <p>Op de online tool van Taijitan</p>
            <div style="display:flex; justify-content:center;">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@TempData["UserId"]" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens</a>
                <a asp-controller="User" asp-action="Summary" class="btn-taijitan btn" style="margin-right:1em;">Wijzig gegevens leden</a>
                <a asp-controller="User" asp-action="Summary" class="btn-taijitan btn">Overzicht aanwezigheden</a>
            </div>
        }

    </div>
</div>
@section scripts{
    <script src="~/js/site.min.js"></script>
}
